Repository uncss/uncss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

utility: fix replacing all `%20` instances
  src/utility.js
Due: prettier --write, eslint --fix

utility: fix replacing all `%20` instances (#505)
  src/utility.js
Due: prettier --write, eslint --fix

Drop Node.js < 12 support, switch to c8 for coverage
  .c8rc.json
  .github/workflows/test.yml
  .nycrc.json
  package-lock.json
  package.json
Due: prettier --write

Skip resemble tests since they fail on Ubuntu CI
  tests/resemble.js
Due: prettier --write, eslint --fix

Rename bin/uncss to js
  bin/uncss.js
  package.json
Due: prettier --write, eslint --fix

Regenerate package-lock.json
  package-lock.json
Due: prettier --write

Create kbopecas
  kbopecas
Due: none

Path conditions:
  prettier --write: any of: *.{js,css,json,md}
  eslint --fix: any of: *.js
